language: android
sudo: required
before_install: #1.1
  - nvm install 6
  - node --version
install: #1.2
  - npm install
android: #1.3
  components:
  - build-tools-23.0.1
  - android-23
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
  - addon-google_apis-google-16
cache:
  directories:
  - node_modules
script: 
#  - npm run ci #2
  - cd android && ./gradlew clean
  - ./gradlew assembleRelease #3
  - cd ./app/build/outputs/apk
  - ls
  - curl -F 'file=@app-internal-release-4.5.1.apk' -F 'uKey=24af41e3b5e5117e773a733378aefa29' -F '_api_key=0691c7489e57a5158796f6e1e7e988bd' -F 'password=rock' -F 'installType=2' -F 'updateDescription=4.5.1' 'https://qiniu-storage.pgyer.com/apiv1/app/upload'
