<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.energymost.hipdiscoing">

    <!--进行网络访问和网络状态监控相关的权限声明-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许对sd卡进行读写操作-->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <!--网络库使用，当网络操作时需要确保事务完成不被杀掉-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="com.google.android.apps.photos.contentprovider.MediaContentProvider"/>
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="${prodName}"
      android:largeHeap="true"
      android:icon="@mipmap/ic_launcher"
      android:configChanges="orientation"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"
      tools:replace="android:label,android:icon">
      <activity
        android:name=".MainActivity"
        android:label="${prodName}"
        android:screenOrientation="portrait"
        android:exported="true"
        android:launchMode="singleTop"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <meta-data android:name="com.energymost.hipdiscoing.oss.bucket" android:value="${oss_bucket}"/>
    <meta-data android:name="com.energymost.hipdiscoing.prodUri" android:value="${prod}"/>
    <meta-data android:name="com.energymost.hipdiscoing.codepushKey" android:value="${codepushKey}"/>
    <meta-data android:name="com.energymost.hipdiscoing.upgradeUri" android:value="${upgradeUri}"/>
  </application>
</manifest>
