<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodePushDeploymentKey</key>
	<string>yuIKlXBaERJdl71vVGiFFwXgWKClVkAYAKQfl</string>
	<key>PushAppKey</key>
	<string>23358217</string>
	<key>PushAppSecret</key>
	<string>7d45fb7e6ccfbb4337ad88e42f0f5077</string>
	<key>REMOSSBucket</key>
	<string>energymost-upload.images.energymost.com</string>
	<key>URI</key>
	<string>https://mobile.mm.energymost.com/api/</string>
	<key>CFBundleName</key>
	<string>机器顾问</string>
	<key>Bundle identifier</key>
	<string>com.schneider-electric.MachineAdvisor</string>
	<key>Bundle name</key>
	<string>机器顾问</string>
	<key>CFBundleIdentifier</key>
	<string>com.schneider-electric.MachineAdvisor</string>
	<key>UpgradeUri</key>
	<string>https://www.fm.energymost.com/download-app</string>
</dict>
</plist>
