<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodePushDeploymentKey</key>
	<string>rf0ka0ZGEfpL9sY9HTt_iaxY4Pr4VkAYAKQfl</string>
	<key>PushAppKey</key>
	<string>23358217</string>
	<key>PushAppSecret</key>
	<string>7d45fb7e6ccfbb4337ad88e42f0f5077</string>
	<key>REMOSSBucket</key>
	<string>sejazz-test.images.energymost.com</string>
	<key>URI</key>
	<string></string>
	<key>CFBundleName</key>
	<string>Rock_Test</string>
	<key>CFBundleIdentifier</key>
	<string>cn.com.schneider-electric.Rock</string>
	<key>UpgradeUri</key>
	<string>https://sp1.fm.energymost.com/download-app</string>
</dict>
</plist>
